In [1]:
# outlier which is a complete data from your actual data as in 100 is actual but the value is 110
# Mean , Median , Mode & Standard Deviation

In [2]:
# median is used to find the outlier value
# mean is used when there is no outlire and is in linear form
# when you need repeatation of value or customer
# if you wish to find the outlire mean and median will not be the same or it will we be -
# outlier is found in your data and is different from your data set
# pd.to_datetime(varible_file.order_date)[0].strftime('
#orders.order_data.dt.year

In [1]:
import pandas as pd
import datetime as dt

In [2]:
df = pd.read_csv('vyrqmE.csv')

In [3]:
df

     order_id customer_id product_id  quantity  order_date
0      O00001       C0333       P022         1  2022-01-09
1      O00002       C0068       P090         1  2022-01-27
2      O00003       C0483       P021         1  2022-01-17
3      O00004       C0214       P076         4  2022-01-07
4      O00005       C0411       P073         4  2022-01-12
...       ...         ...        ...       ...         ...
2579   O02580       C0237       P098         5  2024-12-22
2580   O02581       C0236       P007         1  2024-12-05
2581   O02582       C0029       P035         1  2024-12-12
2582   O02583       C0171       P077         1  2024-12-16
2583   O02584       C0421       P038         5  2024-12-01

[2584 rows x 5 columns]

In [4]:
df['order_date'] = pd.to_datetime(df.order_date)

In [5]:
df

     order_id customer_id product_id  quantity order_date
0      O00001       C0333       P022         1 2022-01-09
1      O00002       C0068       P090         1 2022-01-27
2      O00003       C0483       P021         1 2022-01-17
3      O00004       C0214       P076         4 2022-01-07
4      O00005       C0411       P073         4 2022-01-12
...       ...         ...        ...       ...        ...
2579   O02580       C0237       P098         5 2024-12-22
2580   O02581       C0236       P007         1 2024-12-05
2581   O02582       C0029       P035         1 2024-12-12
2582   O02583       C0171       P077         1 2024-12-16
2583   O02584       C0421       P038         5 2024-12-01

[2584 rows x 5 columns]

In [6]:
df['Year'] = df.order_date.dt.year

In [7]:
df['Month'] = df.order_date.dt.month

In [8]:
df

     order_id customer_id product_id  quantity order_date  Year  Month
0      O00001       C0333       P022         1 2022-01-09  2022      1
1      O00002       C0068       P090         1 2022-01-27  2022      1
2      O00003       C0483       P021         1 2022-01-17  2022      1
3      O00004       C0214       P076         4 2022-01-07  2022      1
4      O00005       C0411       P073         4 2022-01-12  2022      1
...       ...         ...        ...       ...        ...   ...    ...
2579   O02580       C0237       P098         5 2024-12-22  2024     12
2580   O02581       C0236       P007         1 2024-12-05  2024     12
2581   O02582       C0029       P035         1 2024-12-12  2024     12
2582   O02583       C0171       P077         1 2024-12-16  2024     12
2583   O02584       C0421       P038         5 2024-12-01  2024     12

[2584 rows x 7 columns]

In [9]:
df['quantity'].sum()

np.int64(7797)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2584 entries, 0 to 2583
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     2584 non-null   object
 1   customer_id  2584 non-null   object
 2   product_id   2584 non-null   object
 3   quantity     2584 non-null   int64
 4   order_date   2584 non-null   datetime64[ns]
 5   Year         2584 non-null   int32
 6   Month        2584 non-null   int32
dtypes: datetime64[ns](1), int32(2), int64(1), object(3)
memory usage: 121.3+ KB

In [11]:
df['Year'].mode()

0    2023
Name: Year, dtype: int32

In [12]:
order_group = df.groupby('Year')

In [13]:
order_group.get_group(2023)['customer_id'].mode()

0    C0414
Name: customer_id, dtype: object

In [14]:
order_group.get_group(2024)['customer_id'].mode()

0    C0220
Name: customer_id, dtype: object

In [15]:
order_group.get_group(2022)['customer_id'].mode()

0    C0028
1    C0080
2    C0129
3    C0267
Name: customer_id, dtype: object

In [16]:
order_group.get_group(2023).quantity.sum()

np.int64(2861)

In [17]:
order_group.get_group(2024).quantity.sum()

np.int64(2387)

In [18]:
order_group.get_group(2022).quantity.sum()

np.int64(2549)

In [19]:
order_group.get_group(2022)['product_id'].value_counts().idxmax()

'P059'

In [20]:
order_group.get_group(2022)['product_id'].value_counts().idxmax()

'P059'

# DF concate

In [21]:
#pd.concat
#table.merge(primary table, on = primary key name)
#

In [22]:
customer = pd.read_csv("vyrqmE.csv")

In [23]:
product = pd.read_csv("products.csv")

In [24]:
product

   product_id product_name     category   price
0        P001        Stage     Clothing  534.93
1        P002        Least  Accessories   56.56
2        P003       Number         Home  339.92
3        P004      Evening     Clothing  138.74
4        P005      Protect     Footwear   68.06
..        ...          ...          ...     ...
95       P096      Service     Footwear  872.76
96       P097         Away         Home  932.46
97       P098     Decision  Accessories  567.31
98       P099           So  Electronics  698.17
99       P100   Everything         Home  922.89

[100 rows x 4 columns]

In [25]:
complete = customer.merge(product , on = "product_id")

In [26]:
complete

,order_id,customer_id,product_id,quantity,order_date,product_name,category,price
0,O00001,C0333,P022,1,2022-01-09,Tax,Home,185.33
1,O00002,C0068,P090,1,2022-01-27,Perform,Electronics,947.55
2,O00003,C0483,P021,1,2022-01-17,Art,Electronics,938.65
3,O00004,C0214,P076,4,2022-01-07,Amount,Electronics,154.17
4,O00005,C0411,P073,4,2022-01-12,Second,Electronics,131.85
...,...,...,...,...,...,...,...,...
2579,O02580,C0237,P098,5,2024-12-22,Decision,Accessories,567.31
2580,O02581,C0236,P007,1,2024-12-05,Finish,Clothing,325.74
2581,O02582,C0029,P035,1,2024-12-12,First,Clothing,362.04
2582,O02583,C0171,P077,1,2024-12-16,Government,Clothing,233.11
2583,O02584,C0421,P038,5,2024-12-01,Black,Electronics,817.52

In [27]:
complete["Total_Price"] = (complete.quantity * complete.price)

In [28]:
complete

,order_id,customer_id,product_id,quantity,order_date,product_name,category,price,Total_Price
0,O00001,C0333,P022,1,2022-01-09,Tax,Home,185.33,185.33
1,O00002,C0068,P090,1,2022-01-27,Perform,Electronics,947.55,947.55
2,O00003,C0483,P021,1,2022-01-17,Art,Electronics,938.65,938.65
3,O00004,C0214,P076,4,2022-01-07,Amount,Electronics,154.17,616.68
4,O00005,C0411,P073,4,2022-01-12,Second,Electronics,131.85,527.40
...,...,...,...,...,...,...,...,...,...
2579,O02580,C0237,P098,5,2024-12-22,Decision,Accessories,567.31,2836.55
2580,O02581,C0236,P007,1,2024-12-05,Finish,Clothing,325.74,325.74
2581,O02582,C0029,P035,1,2024-12-12,First,Clothing,362.04,362.04
2582,O02583,C0171,P077,1,2024-12-16,Government,Clothing,233.11,233.11
2583,O02584,C0421,P038,5,2024-12-01,Black,Electronics,817.52,4087.60

In [29]:
complete['order_date'] = pd.to_datetime(complete.order_date)

In [30]:
complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2584 entries, 0 to 2583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      2584 non-null   object
 1   customer_id   2584 non-null   object
 2   product_id    2584 non-null   object
 3   quantity      2584 non-null   int64
 4   order_date    2584 non-null   datetime64[ns]
 5   product_name  2584 non-null   object
 6   category      2584 non-null   object
 7   price         2584 non-null   float64
 8   Total_Price   2584 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 181.8+ KB

In [31]:
complete['Year'] = complete.order_date.dt.year
complete['Month'] = complete.order_date.dt.month

In [32]:
complete[complete.Year == 2023]

,order_id,customer_id,product_id,quantity,order_date,product_name,category,price,Total_Price,Year,Month
828,O00829,C0373,P033,4,2023-01-22,The,Footwear,666.87,2667.48,2023,1
829,O00830,C0010,P064,2,2023-01-25,Likely,Home,745.23,1490.46,2023,1
830,O00831,C0335,P082,1,2023-01-29,West,Footwear,545.01,545.01,2023,1
831,O00832,C0478,P005,4,2023-01-21,Protect,Footwear,68.06,272.24,2023,1
832,O00833,C0137,P020,3,2023-01-19,Light,Accessories,732.21,2196.63,2023,1
...,...,...,...,...,...,...,...,...,...,...,...
1747,O01748,C0168,P086,4,2023-12-10,Edge,Home,908.91,3635.64,2023,12
1748,O01749,C0249,P060,1,2023-12-27,Management,Home,789.65,789.65,2023,12
1749,O01750,C0043,P071,2,2023-12-12,Same,Electronics,115.08,230.16,2023,12
1750,O01751,C0366,P057,2,2023-12-26,On,Accessories,621.97,1243.94,2023,12
1751,O01752,C0242,P036,2,2023-12-13,News,Clothing,877.81,1755.62,2023,12

In [33]:
Yearly_2022 = complete.groupby('Year')
Monthly_2022 = Yearly_2022.get_group(2022).groupby('Month')
Yearly_2023 = complete.groupby('Year')
Monthly_2023 = Yearly_2023.get_group(2023).groupby('Month')
Yearly_2024 = complete.groupby('Year')
Monthly_2024 = Yearly_2024.get_group(2024).groupby('Month')

In [120]:
Monthly_2022['product_name'].value_counts().idxmax()

(np.int32(1), 'Table')

In [44]:
Yearly_2023['product_name'].value_counts().idxmax()

(np.int32(2023), 'North')

In [45]:
for i in Monthly_2022:
    print(F"Max selling product is:{i}")

Max selling product is:(1,    order_id customer_id product_id  quantity order_date product_name  \
0    O00001       C0333       P022         1 2022-01-09          Tax
1    O00002       C0068       P090         1 2022-01-27      Perform
2    O00003       C0483       P021         1 2022-01-17          Art
3    O00004       C0214       P076         4 2022-01-07       Amount
4    O00005       C0411       P073         4 2022-01-12       Second
..      ...         ...        ...       ...        ...          ...
94   O00095       C0053       P079         5 2022-01-23        Dream
95   O00096       C0443       P029         5 2022-01-28      Believe
96   O00097       C0200       P031         5 2022-01-16          Eat
97   O00098       C0402       P090         3 2022-01-26      Perform
98   O00099       C0355       P086         1 2022-01-14         Edge

       category   price  Total_Price  Year  Month
0          Home  185.33       185.33  2022      1
1   Electronics  947.55       947.55  2022      1
2   Electronics  938.65       938.65  2022      1
3   Electronics  154.17       616.68  2022      1
4   Electronics  131.85       527.40  2022      1
..          ...     ...          ...   ...    ...
94     Clothing  721.44      3607.20  2022      1
95  Electronics  205.62      1028.10  2022      1
96     Clothing  168.44       842.20  2022      1
97  Electronics  947.55      2842.65  2022      1
98         Home  908.91       908.91  2022      1

[99 rows x 11 columns])
Max selling product is:(2,     order_id customer_id product_id  quantity order_date product_name  \
99    O00100       C0184       P010         3 2022-02-13         Able
100   O00101       C0270       P029         2 2022-02-14      Believe
101   O00102       C0267       P009         5 2022-02-26       Manage
102   O00103       C0082       P054         5 2022-02-22       Follow
103   O00104       C0275       P052         1 2022-02-11         List
..       ...         ...        ...       ...        ...          ...
168   O00169       C0066       P086         2 2022-02-10         Edge
169   O00170       C0052       P037         5 2022-02-16        Store
170   O00171       C0036       P025         3 2022-02-26      General
171   O00172       C0249       P058         3 2022-02-19          Job
172   O00173       C0316       P085         3 2022-02-18       Really

        category   price  Total_Price  Year  Month
99          Home  683.10      2049.30  2022      2
100  Electronics  205.62       411.24  2022      2
101  Accessories  258.37      1291.85  2022      2
102  Electronics  338.23      1691.15  2022      2
103     Clothing  940.13       940.13  2022      2
..           ...     ...          ...   ...    ...
168         Home  908.91      1817.82  2022      2
169         Home  395.48      1977.40  2022      2
170  Accessories  576.60      1729.80  2022      2
171  Accessories  535.79      1607.37  2022      2
172  Electronics  185.69       557.07  2022      2

[74 rows x 11 columns])
Max selling product is:(3,     order_id customer_id product_id  quantity order_date   product_name  \
173   O00174       C0187       P065         1 2022-03-19  Environmental
174   O00175       C0340       P031         5 2022-03-05            Eat
175   O00176       C0351       P022         5 2022-03-19            Tax
176   O00177       C0072       P058         2 2022-03-19            Job
177   O00178       C0092       P073         5 2022-03-12         Second
..       ...         ...        ...       ...        ...            ...
262   O00263       C0401       P090         2 2022-03-15        Perform
263   O00264       C0052       P028         5 2022-03-17           Work
264   O00265       C0206       P044         5 2022-03-17         Detail
265   O00266       C0315       P090         1 2022-03-03        Perform
266   O00267       C0083       P050         1 2022-03-13      Operation

        category   price  Total_Price  Year  Month
173  Electronics   38.36        38.36  2022      3
174     Clothing  168.44       842.20  2022      3
175         Home  185.33       926.65  2022      3
176  Accessories  535.79      1071.58  2022      3
177  Electronics  131.85       659.25  2022      3
..           ...     ...          ...   ...    ...
262  Electronics  947.55      1895.10  2022      3
263         Home  796.29      3981.45  2022      3
264         Home  505.21      2526.05  2022      3
265  Electronics  947.55       947.55  2022      3
266  Accessories  626.12       626.12  2022      3

[94 rows x 11 columns])
Max selling product is:(4,     order_id customer_id product_id  quantity order_date   product_name  \
267   O00268       C0500       P021         1 2022-04-27            Art
268   O00269       C0142       P100         4 2022-04-05     Everything
269   O00270       C0181       P086         4 2022-04-16           Edge
270   O00271       C0208       P076         2 2022-04-30         Amount
271   O00272       C0266       P002         1 2022-04-20          Least
272   O00273       C0471       P012         5 2022-04-14        Section
273   O00274       C0146       P093         5 2022-04-03            Why
274   O00275       C0469       P075         3 2022-04-03           Some
275   O00276       C0178       P036         2 2022-04-09           News
276   O00277       C0311       P025         4 2022-04-08        General
277   O00278       C0477       P052         5 2022-04-12           List
278   O00279       C0003       P034         2 2022-04-03           Many
279   O00280       C0209       P065         1 2022-04-20  Environmental
280   O00281       C0287       P010         5 2022-04-02           Able
281   O00282       C0151       P044         1 2022-04-24         Detail
282   O00283       C0412       P066         3 2022-04-13           Such
283   O00284       C0449       P069         5 2022-04-30        Prepare
284   O00285       C0129       P089         4 2022-04-13          Value
285   O00286       C0495       P049         5 2022-04-20           Town
286   O00287       C0248       P099         2 2022-04-21             So
287   O00288       C0388       P044         4 2022-04-17         Detail
288   O00289       C0349       P059         5 2022-04-10        Network
289   O00290       C0442       P004         4 2022-04-23        Evening
290   O00291       C0060       P034         1 2022-04-20           Many
291   O00292       C0196       P082         2 2022-04-02           West
292   O00293       C0347       P090         2 2022-04-25        Perform
293   O00294       C0410       P041         4 2022-04-27         Behind
294   O00295       C0490       P046         5 2022-04-06         Around
295   O00296       C0275       P002         3 2022-04-21          Least
296   O00297       C0128       P037         1 2022-04-16          Store
297   O00298       C0205       P087         3 2022-04-15           Body
298   O00299       C0039       P071         2 2022-04-01           Same
299   O00300       C0244       P041         3 2022-04-07         Behind
300   O00301       C0112       P074         3 2022-04-28            Add
301   O00302       C0094       P096         2 2022-04-22        Service
302   O00303       C0256       P095         2 2022-04-30        Program
303   O00304       C0121       P095         2 2022-04-26        Program
304   O00305       C0447       P034         2 2022-04-17           Many
305   O00306       C0118       P026         2 2022-04-10          North
306   O00307       C0429       P080         3 2022-04-07   Organization
307   O00308       C0080       P100         1 2022-04-02     Everything
308   O00309       C0062       P011         4 2022-04-26         Senior
309   O00310       C0315       P001         5 2022-04-20          Stage
310   O00311       C0491       P006         4 2022-04-17           Keep
311   O00312       C0191       P080         3 2022-04-17   Organization
312   O00313       C0253       P074         3 2022-04-23            Add
313   O00314       C0252       P024         5 2022-04-08          Night
314   O00315       C0144       P051         2 2022-04-20           Part
315   O00316       C0385       P074         2 2022-04-06            Add
316   O00317       C0028       P068         4 2022-04-22         Market
317   O00318       C0245       P070         1 2022-04-02        Country
318   O00319       C0258       P045         4 2022-04-12        Compare
319   O00320       C0441       P088         2 2022-04-08           Trip
320   O00321       C0235       P016         5 2022-04-21           Mind
321   O00322       C0236       P041         1 2022-04-01         Behind

        category   price  Total_Price  Year  Month
267  Electronics  938.65       938.65  2022      4
268         Home  922.89      3691.56  2022      4
269         Home  908.91      3635.64  2022      4
270  Electronics  154.17       308.34  2022      4
271  Accessories   56.56        56.56  2022      4
272     Footwear  597.66      2988.30  2022      4
273     Clothing  508.36      2541.80  2022      4
274  Accessories  798.31      2394.93  2022      4
275     Clothing  877.81      1755.62  2022      4
276  Accessories  576.60      2306.40  2022      4
277     Clothing  940.13      4700.65  2022      4
278  Electronics  525.45      1050.90  2022      4
279  Electronics   38.36        38.36  2022      4
280         Home  683.10      3415.50  2022      4
281         Home  505.21       505.21  2022      4
282  Accessories  572.04      1716.12  2022      4
283  Accessories  345.37      1726.85  2022      4
284  Accessories  464.70      1858.80  2022      4
285  Electronics  906.94      4534.70  2022      4
286  Electronics  698.17      1396.34  2022      4
287         Home  505.21      2020.84  2022      4
288         Home  894.42      4472.10  2022      4
289     Clothing  138.74       554.96  2022      4
290  Electronics  525.45       525.45  2022      4
291     Footwear  545.01      1090.02  2022      4
292  Electronics  947.55      1895.10  2022      4
293     Footwear  465.37      1861.48  2022      4
294  Electronics  900.08      4500.40  2022      4
295  Accessories   56.56       169.68  2022      4
296         Home  395.48       395.48  2022      4
297     Footwear  585.47      1756.41  2022      4
298  Electronics  115.08       230.16  2022      4
299     Footwear  465.37      1396.11  2022      4
300  Electronics  400.30      1200.90  2022      4
301     Footwear  872.76      1745.52  2022      4
302     Clothing   23.02        46.04  2022      4
303     Clothing   23.02        46.04  2022      4
304  Electronics  525.45      1050.90  2022      4
305  Accessories  842.62      1685.24  2022      4
306     Footwear  642.94      1928.82  2022      4
307         Home  922.89       922.89  2022      4
308  Electronics  761.43      3045.72  2022      4
309     Clothing  534.93      2674.65  2022      4
310  Electronics  990.01      3960.04  2022      4
311     Footwear  642.94      1928.82  2022      4
312  Electronics  400.30      1200.90  2022      4
313     Footwear  742.42      3712.10  2022      4
314     Footwear  121.31       242.62  2022      4
315  Electronics  400.30       800.60  2022      4
316  Accessories  877.38      3509.52  2022      4
317         Home  822.15       822.15  2022      4
318     Footwear  236.05       944.20  2022      4
319  Electronics  403.85       807.70  2022      4
320     Footwear  929.88      4649.40  2022      4
321     Footwear  465.37       465.37  2022      4  )
Max selling product is:(5,     order_id customer_id product_id  quantity order_date product_name  \
322   O00323       C0075       P095         2 2022-05-22      Program
323   O00324       C0243       P002         2 2022-05-07        Least
324   O00325       C0216       P064         2 2022-05-13       Likely
325   O00326       C0458       P081         5 2022-05-19       Change
326   O00327       C0274       P093         3 2022-05-04          Why
327   O00328       C0403       P063         3 2022-05-11        Table
328   O00329       C0129       P072         5 2022-05-12        Phone
329   O00330       C0025       P051         1 2022-05-20         Part
330   O00331       C0354       P021         1 2022-05-28          Art
331   O00332       C0111       P033         4 2022-05-09          The
332   O00333       C0430       P081         1 2022-05-06       Change
333   O00334       C0231       P096         3 2022-05-18      Service
334   O00335       C0134       P047         3 2022-05-09     Standard
335   O00336       C0287       P072         3 2022-05-08        Phone
336   O00337       C0177       P003         4 2022-05-09       Number
337   O00338       C0063       P045         5 2022-05-16      Compare
338   O00339       C0102       P074         5 2022-05-31          Add
339   O00340       C0333       P084         5 2022-05-20          Pay
340   O00341       C0090       P100         3 2022-05-11   Everything
341   O00342       C0182       P042         5 2022-05-12         Find
342   O00343       C0250       P100         4 2022-05-06   Everything
343   O00344       C0456       P011         4 2022-05-16       Senior
344   O00345       C0315       P037         4 2022-05-14        Store
345   O00346       C0324       P019         2 2022-05-07      Feeling
346   O00347       C0328       P044         4 2022-05-14       Detail
347   O00348       C0324       P079         5 2022-05-23        Dream
348   O00349       C0208       P010         1 2022-05-25         Able
349   O00350       C0083       P044         2 2022-05-12       Detail
350   O00351       C0161       P041         3 2022-05-12       Behind
351   O00352       C0364       P035         5 2022-05-28        First
352   O00353       C0331       P051         3 2022-05-13         Part
353   O00354       C0455       P057         3 2022-05-09           On
354   O00355       C0383       P076         5 2022-05-15       Amount
355   O00356       C0495       P058         4 2022-05-06          Job
356   O00357       C0086       P024         1 2022-05-19        Night
357   O00358       C0065       P094         2 2022-05-05        North
358   O00359       C0339       P033         1 2022-05-19          The
359   O00360       C0108       P022         4 2022-05-22          Tax
360   O00361       C0053       P013         1 2022-05-08        Drive
361   O00362       C0480       P061         5 2022-05-27        Stage
362   O00363       C0028       P004         4 2022-05-04      Evening
363   O00364       C0269       P098         1 2022-05-24     Decision
364   O00365       C0054       P034         5 2022-05-09         Many
365   O00366       C0080       P011         4 2022-05-26       Senior
366   O00367       C0159       P030         2 2022-05-08          Ask
367   O00368       C0378       P037         4 2022-05-18        Store
368   O00369       C0321       P017         2 2022-05-14       Happen
369   O00370       C0270       P022         1 2022-05-28          Tax
370   O00371       C0018       P085         3 2022-05-13       Really
371   O00372       C0441       P042         4 2022-05-07         Find

        category   price  Total_Price  Year  Month
322     Clothing   23.02        46.04  2022      5
323  Accessories   56.56       113.12  2022      5
324         Home  745.23      1490.46  2022      5
325  Accessories  695.48      3477.40  2022      5
326     Clothing  508.36      1525.08  2022      5
327         Home  252.25       756.75  2022      5
328     Footwear  847.22      4236.10  2022      5
329     Footwear  121.31       121.31  2022      5
330  Electronics  938.65       938.65  2022      5
331     Footwear  666.87      2667.48  2022      5
332  Accessories  695.48       695.48  2022      5
333     Footwear  872.76      2618.28  2022      5
334     Footwear  386.97      1160.91  2022      5
335     Footwear  847.22      2541.66  2022      5
336         Home  339.92      1359.68  2022      5
337     Footwear  236.05      1180.25  2022      5
338  Electronics  400.30      2001.50  2022      5
339         Home  348.97      1744.85  2022      5
340         Home  922.89      2768.67  2022      5
341  Accessories  304.87      1524.35  2022      5
342         Home  922.89      3691.56  2022      5
343  Electronics  761.43      3045.72  2022      5
344         Home  395.48      1581.92  2022      5
345  Accessories  128.68       257.36  2022      5
346         Home  505.21      2020.84  2022      5
347     Clothing  721.44      3607.20  2022      5
348         Home  683.10       683.10  2022      5
349         Home  505.21      1010.42  2022      5
350     Footwear  465.37      1396.11  2022      5
351     Clothing  362.04      1810.20  2022      5
352     Footwear  121.31       363.93  2022      5
353  Accessories  621.97      1865.91  2022      5
354  Electronics  154.17       770.85  2022      5
355  Accessories  535.79      2143.16  2022      5
356     Footwear  742.42       742.42  2022      5
357  Electronics  613.40      1226.80  2022      5
358     Footwear  666.87       666.87  2022      5
359         Home  185.33       741.32  2022      5
360  Electronics  474.22       474.22  2022      5
361     Clothing  155.92       779.60  2022      5
362     Clothing  138.74       554.96  2022      5
363  Accessories  567.31       567.31  2022      5
364  Electronics  525.45      2627.25  2022      5
365  Electronics  761.43      3045.72  2022      5
366     Footwear  167.84       335.68  2022      5
367         Home  395.48      1581.92  2022      5
368  Accessories  831.47      1662.94  2022      5
369         Home  185.33       185.33  2022      5
370  Electronics  185.69       557.07  2022      5
371  Accessories  304.87      1219.48  2022      5  )
Max selling product is:(6,     order_id customer_id product_id  quantity order_date product_name  \
372   O00373       C0425       P049         2 2022-06-28         Town
373   O00374       C0135       P011         4 2022-06-18       Senior
374   O00375       C0321       P031         5 2022-06-30          Eat
375   O00376       C0392       P079         3 2022-06-09        Dream
376   O00377       C0146       P084         5 2022-06-18          Pay
..       ...         ...        ...       ...        ...          ...
446   O00447       C0393       P071         2 2022-06-06         Same
447   O00448       C0314       P037         3 2022-06-23        Store
448   O00449       C0210       P083         3 2022-06-24        Ready
449   O00450       C0057       P013         5 2022-06-21        Drive
450   O00451       C0338       P009         1 2022-06-13       Manage

        category   price  Total_Price  Year  Month
372  Electronics  906.94      1813.88  2022      6
373  Electronics  761.43      3045.72  2022      6
374     Clothing  168.44       842.20  2022      6
375     Clothing  721.44      2164.32  2022      6
376         Home  348.97      1744.85  2022      6
..           ...     ...          ...   ...    ...
446  Electronics  115.08       230.16  2022      6
447         Home  395.48      1186.44  2022      6
448  Accessories  255.54       766.62  2022      6
449  Electronics  474.22      2371.10  2022      6
450  Accessories  258.37       258.37  2022      6

[79 rows x 11 columns])
Max selling product is:(7,     order_id customer_id product_id  quantity order_date   product_name  \
451   O00452       C0428       P039         1 2022-07-06            Bed
452   O00453       C0484       P028         5 2022-07-28           Work
453   O00454       C0050       P013         2 2022-07-02          Drive
454   O00455       C0273       P050         2 2022-07-07      Operation
455   O00456       C0099       P068         2 2022-07-04         Market
456   O00457       C0292       P081         2 2022-07-16         Change
457   O00458       C0286       P096         5 2022-07-07        Service
458   O00459       C0213       P096         1 2022-07-04        Service
459   O00460       C0393       P082         5 2022-07-02           West
460   O00461       C0184       P087         4 2022-07-19           Body

In [46]:
def selling():
    for i in Monthly_2023:
        print(F"Max selling product is:{complete.product_id.idxmax()}")

In [47]:
selling()

Max selling product is:268
Max selling product is:268
Max selling product is:268
Max selling product is:268
Max selling product is:268
Max selling product is:268
Max selling product is:268
Max selling product is:268
Max selling product is:268
Max selling product is:268
Max selling product is:268
Max selling product is:268

In [118]:
for i in Monthly_2024.idxmax():
    print(F"Max selling product is:{Yearly_2024.idxmax()}")

Max selling product is:      order_id  customer_id  product_id  quantity  order_date  product_name  \
Year
2022       827          267         268         6         792            48
2023      1751          993         887       833        1712           873
2024      2583         2113        1926      1760        2558          1771

      category  price  Total_Price  Month
Year
2022         0    113          236    767
2023       829    846         1316   1667
2024      1753   1768         2102   2519
Max selling product is:      order_id  customer_id  product_id  quantity  order_date  product_name  \
Year
2022       827          267         268         6         792            48
2023      1751          993         887       833        1712           873
2024      2583         2113        1926      1760        2558          1771

      category  price  Total_Price  Month
Year
2022         0    113          236    767
2023       829    846         1316   1667
2024      1753   1768         2102   2519
Max selling product is:      order_id  customer_id  product_id  quantity  order_date  product_name  \
Year
2022       827          267         268         6         792            48
2023      1751          993         887       833        1712           873
2024      2583         2113        1926      1760        2558          1771

      category  price  Total_Price  Month
Year
2022         0    113          236    767
2023       829    846         1316   1667
2024      1753   1768         2102   2519
Max selling product is:      order_id  customer_id  product_id  quantity  order_date  product_name  \
Year
2022       827          267         268         6         792            48
2023      1751          993         887       833        1712           873
2024      2583         2113        1926      1760        2558          1771

      category  price  Total_Price  Month
Year
2022         0    113          236    767
2023       829    846         1316   1667
2024      1753   1768         2102   2519
Max selling product is:      order_id  customer_id  product_id  quantity  order_date  product_name  \
Year
2022       827          267         268         6         792            48
2023      1751          993         887       833        1712           873
2024      2583         2113        1926      1760        2558          1771

      category  price  Total_Price  Month
Year
2022         0    113          236    767
2023       829    846         1316   1667
2024      1753   1768         2102   2519
Max selling product is:      order_id  customer_id  product_id  quantity  order_date  product_name  \
Year
2022       827          267         268         6         792            48
2023      1751          993         887       833        1712           873
2024      2583         2113        1926      1760        2558          1771

      category  price  Total_Price  Month
Year
2022         0    113          236    767
2023       829    846         1316   1667
2024      1753   1768         2102   2519
Max selling product is:      order_id  customer_id  product_id  quantity  order_date  product_name  \
Year
2022       827          267         268         6         792            48
2023      1751          993         887       833        1712           873
2024      2583         2113        1926      1760        2558          1771

      category  price  Total_Price  Month
Year
2022         0    113          236    767
2023       829    846         1316   1667
2024      1753   1768         2102   2519
Max selling product is:      order_id  customer_id  product_id  quantity  order_date  product_name  \
Year
2022       827          267         268         6         792            48
2023      1751          993         887       833        1712           873
2024      2583         2113        1926      1760        2558          1771

      category  price  Total_Price  Month
Year
2022         0    113          236    767
2023       829    846         1316   1667
2024      1753   1768         2102   2519
Max selling product is:      order_id  customer_id  product_id  quantity  order_date  product_name  \
Year
2022       827          267         268         6         792            48
2023      1751          993         887       833        1712           873
2024      2583         2113        1926      1760        2558          1771

      category  price  Total_Price  Month
Year
2022         0    113          236    767
2023       829    846         1316   1667
2024      1753   1768         2102   2519
Max selling product is:      order_id  customer_id  product_id  quantity  order_date  product_name  \
Year
2022       827          267         268         6         792            48
2023      1751          993         887       833        1712           873
2024      2583         2113        1926      1760        2558          1771

      category  price  Total_Price  Month
Year
2022         0    113          236    767
2023       829    846         1316   1667
2024      1753   1768         2102   2519

KeyError: 'product_name'

In [94]:
order_group1.get_group(2022)['product_name'].value_counts().idxmax()

'Network'

In [95]:
order_group2.get_group(1)['product_name'].value_counts().idxmax()

'Table'

In [96]:
order_group1.get_group(2022)['product_name'].value_counts().idxmin()

'Follow'

In [97]:
order_group2.get_group(1)['product_name'].value_counts().idxmin()

'Art'

In [98]:
order_group1.get_group(2022)['product_id'].value_counts().idxmax()

'P059'

In [99]:
order_group1.get_group(2022)['product_id'].value_counts().idxmin()

'P054'

In [100]:
order_group1.get_group(2022).Total_Price.sum()

np.float64(1357500.38)

In [101]:
order_group1.get_group(2023).Total_Price.sum()

np.float64(1489071.01)

In [102]:
order_group1.get_group(2024).Total_Price.sum()

np.float64(1287689.2000000002)

In [74]:
complete.to_csv("Complete_order.csv")