In [1]:
import pandas as pd
import datetime as dt

In [2]:
customers = pd.read_csv("customers.csv")
products = pd.read_csv("products.csv")
orders = pd.read_csv("orders.csv")

In [5]:
half = orders.merge(products , on = "product_id")

In [7]:
full = half.merge(customers , on = "customer_id")

In [75]:
full

,order_id,customer_id,product_id,quantity,order_date,product_name,category,price,name,age,gender,city
0,O00001,C0333,P022,1,2022-01-09,Tax,Home,185.33,Christopher,34,Female,North Isaactown
1,O00002,C0068,P090,1,2022-01-27,Perform,Electronics,947.55,Kathy,35,Female,Gambleport
2,O00003,C0483,P021,1,2022-01-17,Art,Electronics,938.65,Cody,36,Male,Lake Amandaport
3,O00004,C0214,P076,4,2022-01-07,Amount,Electronics,154.17,Jennifer,36,Male,Judithstad
4,O00005,C0411,P073,4,2022-01-12,Second,Electronics,131.85,Kent,25,Male,East Adamfort
...,...,...,...,...,...,...,...,...,...,...,...,...
2579,O02580,C0237,P098,5,2024-12-22,Decision,Accessories,567.31,Tamara,20,Male,West Davidburgh
2580,O02581,C0236,P007,1,2024-12-05,Finish,Clothing,325.74,Dana,46,Male,Stephenfort
2581,O02582,C0029,P035,1,2024-12-12,First,Clothing,362.04,Denise,42,Female,Darrellshire
2582,O02583,C0171,P077,1,2024-12-16,Government,Clothing,233.11,Ashley,61,Female,Thomasbury
2583,O02584,C0421,P038,5,2024-12-01,Black,Electronics,817.52,Michael,64,Female,New Abigailton

In [184]:
full.to_csv("Complete_table.csv")

In [81]:
full.order_date = pd.to_datetime(full.order_date)

# Repeating Customer

In [82]:
customer_count_2022 = full[full['order_date'].dt.year == 2022]['customer_id'].value_counts()
customer_count_2023 = full[full['order_date'].dt.year == 2023]['customer_id'].value_counts()
customer_count_2024 = full[full['order_date'].dt.year == 2024]['customer_id'].value_counts()

In [83]:
Repeating_customer_2022 = customer_count_2022[customer_count_2022 > 1]
Repeating_customer_2023 = customer_count_2023[customer_count_2023 > 1]
Repeating_customer_2024 = customer_count_2024[customer_count_2024 > 1]

In [100]:
print(f"Total no of repeating customers of 2022 are: {(len(Repeating_customer_2022))} out of {(len(customer_count_2022))}")
print(f"Total no of repeating customers of 2023 are: {(len(Repeating_customer_2023))} out of {(len(customer_count_2023))}")
print(f"Total no of repeating customers of 2024 are: {(len(Repeating_customer_2024))} out of {(len(customer_count_2024))}")

Total no of repeating customers of 2022 are: 240 out of 417
Total no of repeating customers of 2023 are: 288 out of 428
Total no of repeating customers of 2024 are: 242 out of 404

# Max Selling product
    According to the repeated customer

In [139]:
products_counts_2022 = full[full['order_date'].dt.year == 2022]['product_id'].value_counts()
products_counts_2023 = full[full['order_date'].dt.year == 2023]['product_id'].value_counts()
products_counts_2024 = full[full['order_date'].dt.year == 2024]['product_id'].value_counts()

In [170]:
most_repeated_2022 = products_counts_2022.idxmax()
most_repeated_2023 = products_counts_2023.idxmax()
most_repeated_2024 = products_counts_2024.idxmax()

In [200]:
most_selling_2022 = full[full['product_id']==most_repeated_2022]['product_name'].iloc[0]
most_selling_2023 = full[full['product_id']==most_repeated_2023]['product_name'].iloc[0]
most_selling_2024 = full[full['product_id']==most_repeated_2024]['product_name'].iloc[0]

In [201]:
print(f"Most selling product of year 2022 is: {(most_selling_2022)}\nThe no of sells are: {(len(most_selling_2022))}")
print('-----------------------------------------------')
print(f"Most selling product of year 2023 is: {(most_selling_2023)}\nThe no of sells are: {(len(most_selling_2023))}")
print('-----------------------------------------------')
print(f"Most selling product of year 2024 is: {(most_selling_2024)}\nThe no of sells are: {(len(most_selling_2024))}")

Most selling product of year 2022 is: Network
The no of sells are: 7
-----------------------------------------------
Most selling product of year 2023 is: Likely
The no of sells are: 6
-----------------------------------------------
Most selling product of year 2024 is: Behind
The no of sells are: 6

# Product To Discontinue

In [202]:
least_repeated_2022 = products_counts_2022.idxmin()
least_repeated_2023 = products_counts_2023.idxmin()
least_repeated_2024 = products_counts_2024.idxmin()

In [203]:
least_selling_2022 = full[full['product_id']==least_repeated_2022]['product_name'].iloc[0]
least_selling_2023 = full[full['product_id']==least_repeated_2023]['product_name'].iloc[0]
least_selling_2024 = full[full['product_id']==least_repeated_2024]['product_name'].iloc[0]

In [205]:
print(f"Most selling product of year 2022 is: {(least_selling_2022)}\nThis product needs to be discontinued")
print('-----------------------------------------------')
print(f"Most selling product of year 2023 is: {(least_selling_2023)}\nThis product needs to be discontinued")
print('-----------------------------------------------')
print(f"Most selling product of year 2024 is: {(least_selling_2024)}\nThis product needs to be discontinued")

Most selling product of year 2022 is: Follow
This product needs to be discontinued
-----------------------------------------------
Most selling product of year 2023 is: Standard
This product needs to be discontinued
-----------------------------------------------
Most selling product of year 2024 is: Ask
This product needs to be discontinued

# Discount

In [208]:
For_discount_2022 = customer_count_2022[customer_count_2022> 5]
For_discount_2023 = customer_count_2023[customer_count_2023> 5]
For_discount_2024 = customer_count_2024[customer_count_2024> 5]

In [211]:
For_discount_2022

customer_id
C0028    6
C0267    6
C0080    6
C0129    6
Name: count, dtype: int64

In [212]:
For_discount_2023

customer_id
C0414    7
C0243    6
C0354    6
C0391    6
C0256    6
C0068    6
Name: count, dtype: int64

In [213]:
For_discount_2024

customer_id
C0220    9
C0310    6
C0475    6
Name: count, dtype: int64

In [229]:
full['Total_Price'] = full.quantity*full.price

In [230]:
Total_income = full.Total_Price.sum()

In [236]:
Time_record = full.iloc[:,4:]

In [237]:
Time_record['Month'] = Time_record.order_date.dt.month

In [238]:
Time_record['Year'] = Time_record.order_date.dt.year

In [242]:
Time_record.drop(['product_name','category','price','name','age','gender','city'],axis = 1)

     order_date  Total_Price  Month  Year
0    2022-01-09       185.33      1  2022
1    2022-01-27       947.55      1  2022
2    2022-01-17       938.65      1  2022
3    2022-01-07       616.68      1  2022
4    2022-01-12       527.40      1  2022
...         ...          ...    ...   ...
2579 2024-12-22      2836.55     12  2024
2580 2024-12-05       325.74     12  2024
2581 2024-12-12       362.04     12  2024
2582 2024-12-16       233.11     12  2024
2583 2024-12-01      4087.60     12  2024

[2584 rows x 4 columns]

In [ ]:
#Yearly_sales = Time_record.groupby('Year')['Total_Price'].sum()
#Monthly_sales = Time_record.groupby(['Year', 'Month'])['Total_Price'].sum()

In [306]:
Yearly_sales = Time_record.groupby('Year')

# Yearly Sales

In [307]:
Yearly_sales_2022 =Yearly_sales.get_group(2022)['Total_Price'].sum()
Yearly_sales_2023 =Yearly_sales.get_group(2023)['Total_Price'].sum()
Yearly_sales_2024 =Yearly_sales.get_group(2024)['Total_Price'].sum()

In [308]:
print(f'Revenue of 2022 year was: {Yearly_sales_2022}\nRevenue of 2023 year was: {Yearly_sales_2023}\nRevenue of 2024 year is: {Yearly_sales_2024}\nCompared to past record sales has been less this Year')

Revenue of 2022 year was: 1357500.38
Revenue of 2023 year was: 1489071.01
Revenue of 2024 year is: 1287689.2000000002
Compared to past record sales has been less this Year

In [309]:
#for sales in range(1,13):
 #   Sum = sales['Total_Price'].sum()
  #  print(f"{Sum}")

In [310]:
#Monthly_sales_2022 = Monthly_sales.get_group(2022,['Month'])
#Monthly_sales_2023 = Monthly_sales.get_group(2023,)['Total_Price'].sum()
#Monthly_sales_2024 = Monthly_sales.get_group(2024,)['Total_Price'].sum()

In [313]:
Monthly_sales = Time_record.groupby(['Year', 'Month'])

In [331]:
for (year, month), data in Monthly_sales:
    Sum = data['Total_Price'].sum()
    print(f"Year{year} and its Month data of {month} is: {Sum}")
    if year == 2024 and month == 12:
        print(f"\n------------End of Data-----------------------\n")
    elif month == 12:
        print(f"\n------------Next years Data-------------------\n")

Year2022 and its Month data of 1 is: 174606.83000000002
Year2022 and its Month data of 2 is: 131429.46
Year2022 and its Month data of 3 is: 147872.94999999998
Year2022 and its Month data of 4 is: 99819.55999999998
Year2022 and its Month data of 5 is: 74185.19
Year2022 and its Month data of 6 is: 125984.33
Year2022 and its Month data of 7 is: 96078.60999999999
Year2022 and its Month data of 8 is: 102602.68
Year2022 and its Month data of 9 is: 95015.45999999999
Year2022 and its Month data of 10 is: 78645.33
Year2022 and its Month data of 11 is: 133063.62
Year2022 and its Month data of 12 is: 98196.36

------------Next years Data-------------------

Year2023 and its Month data of 1 is: 108926.39
Year2023 and its Month data of 2 is: 100614.26999999999
Year2023 and its Month data of 3 is: 132403.32
Year2023 and its Month data of 4 is: 81954.66000000002
Year2023 and its Month data of 5 is: 159682.07000000004
Year2023 and its Month data of 6 is: 161371.63999999998
Year2023 and its Month data of 7 is: 113853.06
Year2023 and its Month data of 8 is: 122938.18
Year2023 and its Month data of 9 is: 99777.87
Year2023 and its Month data of 10 is: 140647.43
Year2023 and its Month data of 11 is: 134667.97999999998
Year2023 and its Month data of 12 is: 132234.14

------------Next years Data-------------------

Year2024 and its Month data of 1 is: 85660.83
Year2024 and its Month data of 2 is: 145746.19
Year2024 and its Month data of 3 is: 82357.1
Year2024 and its Month data of 4 is: 121439.22
Year2024 and its Month data of 5 is: 94350.64
Year2024 and its Month data of 6 is: 113249.20000000001
Year2024 and its Month data of 7 is: 83719.15999999999
Year2024 and its Month data of 8 is: 82841.26
Year2024 and its Month data of 9 is: 124696.42
Year2024 and its Month data of 10 is: 124655.69999999998
Year2024 and its Month data of 11 is: 113283.46
Year2024 and its Month data of 12 is: 115690.02

------------End of Data-----------------------

In [327]:
full.to_csv("Complete_data.csv")