In [1]:
import pandas as pd
import datetime as dt

In [6]:
customer_data = pd.read_csv('vyrqmE.csv')
product_data = pd.read_csv('products.csv')
orders_data = pd.read_csv('orders.csv')

In [7]:
cd = customer_data
pd = product_data
od = orders_data

In [8]:
cd

     order_id customer_id product_id  quantity  order_date
0      O00001       C0333       P022         1  2022-01-09
1      O00002       C0068       P090         1  2022-01-27
2      O00003       C0483       P021         1  2022-01-17
3      O00004       C0214       P076         4  2022-01-07
4      O00005       C0411       P073         4  2022-01-12
...       ...         ...        ...       ...         ...
2579   O02580       C0237       P098         5  2024-12-22
2580   O02581       C0236       P007         1  2024-12-05
2581   O02582       C0029       P035         1  2024-12-12
2582   O02583       C0171       P077         1  2024-12-16
2583   O02584       C0421       P038         5  2024-12-01

[2584 rows x 5 columns]

In [9]:
pd

   product_id product_name     category   price
0        P001        Stage     Clothing  534.93
1        P002        Least  Accessories   56.56
2        P003       Number         Home  339.92
3        P004      Evening     Clothing  138.74
4        P005      Protect     Footwear   68.06
..        ...          ...          ...     ...
95       P096      Service     Footwear  872.76
96       P097         Away         Home  932.46
97       P098     Decision  Accessories  567.31
98       P099           So  Electronics  698.17
99       P100   Everything         Home  922.89

[100 rows x 4 columns]

In [17]:
complete = cd.merge(pd , on = "product_id")

In [22]:
complete['order_date'] = pd.to_datetime(complete.order_date)

AttributeError: 'DataFrame' object has no attribute 'to_datetime'