In [1]:
# outlier which is a complete data from your actual data as in 100 is actual but the value is 110
# Mean , Median , Mode & Standard Deviation

In [ ]:
def year_sale(i):
    if >= 5:
        return

In [2]:
# median is used to find the outlier value
# mean is used when there is no outlire and is in linear form
# when you need repeatation of value or customer
# if you wish to find the outlire mean and median will not be the same or it will we be -
# outlier is found in your data and is different from your data set
# pd.to_datetime(varible_file.order_date)[0].strftime('
#orders.order_data.dt.year

In [1]:
import pandas as pd
import datetime as dt

In [2]:
df = pd.read_csv('vyrqmE.csv')

In [3]:
df

     order_id customer_id product_id  quantity  order_date
0      O00001       C0333       P022         1  2022-01-09
1      O00002       C0068       P090         1  2022-01-27
2      O00003       C0483       P021         1  2022-01-17
3      O00004       C0214       P076         4  2022-01-07
4      O00005       C0411       P073         4  2022-01-12
...       ...         ...        ...       ...         ...
2579   O02580       C0237       P098         5  2024-12-22
2580   O02581       C0236       P007         1  2024-12-05
2581   O02582       C0029       P035         1  2024-12-12
2582   O02583       C0171       P077         1  2024-12-16
2583   O02584       C0421       P038         5  2024-12-01

[2584 rows x 5 columns]

In [4]:
df['order_date'] = pd.to_datetime(df.order_date)

In [5]:
df

     order_id customer_id product_id  quantity order_date
0      O00001       C0333       P022         1 2022-01-09
1      O00002       C0068       P090         1 2022-01-27
2      O00003       C0483       P021         1 2022-01-17
3      O00004       C0214       P076         4 2022-01-07
4      O00005       C0411       P073         4 2022-01-12
...       ...         ...        ...       ...        ...
2579   O02580       C0237       P098         5 2024-12-22
2580   O02581       C0236       P007         1 2024-12-05
2581   O02582       C0029       P035         1 2024-12-12
2582   O02583       C0171       P077         1 2024-12-16
2583   O02584       C0421       P038         5 2024-12-01

[2584 rows x 5 columns]

In [6]:
df['Year'] = df.order_date.dt.year

In [7]:
df['Month'] = df.order_date.dt.month

In [8]:
df

     order_id customer_id product_id  quantity order_date  Year  Month
0      O00001       C0333       P022         1 2022-01-09  2022      1
1      O00002       C0068       P090         1 2022-01-27  2022      1
2      O00003       C0483       P021         1 2022-01-17  2022      1
3      O00004       C0214       P076         4 2022-01-07  2022      1
4      O00005       C0411       P073         4 2022-01-12  2022      1
...       ...         ...        ...       ...        ...   ...    ...
2579   O02580       C0237       P098         5 2024-12-22  2024     12
2580   O02581       C0236       P007         1 2024-12-05  2024     12
2581   O02582       C0029       P035         1 2024-12-12  2024     12
2582   O02583       C0171       P077         1 2024-12-16  2024     12
2583   O02584       C0421       P038         5 2024-12-01  2024     12

[2584 rows x 7 columns]

In [9]:
df['quantity'].sum()

np.int64(7797)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2584 entries, 0 to 2583
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     2584 non-null   object
 1   customer_id  2584 non-null   object
 2   product_id   2584 non-null   object
 3   quantity     2584 non-null   int64
 4   order_date   2584 non-null   datetime64[ns]
 5   Year         2584 non-null   int32
 6   Month        2584 non-null   int32
dtypes: datetime64[ns](1), int32(2), int64(1), object(3)
memory usage: 121.3+ KB

In [11]:
df['Year'].mode()

0    2023
Name: Year, dtype: int32

In [12]:
order_group = df.groupby('Year')

In [13]:
order_group.get_group(2023)['customer_id'].mode()

0    C0414
Name: customer_id, dtype: object

In [14]:
order_group.get_group(2024)['customer_id'].mode()

0    C0220
Name: customer_id, dtype: object

In [15]:
order_group.get_group(2022)['customer_id'].mode()

0    C0028
1    C0080
2    C0129
3    C0267
Name: customer_id, dtype: object

In [16]:
order_group.get_group(2023).quantity.sum()

np.int64(2861)

In [17]:
order_group.get_group(2024).quantity.sum()

np.int64(2387)

In [18]:
order_group.get_group(2022).quantity.sum()

np.int64(2549)

In [19]:
order_group.get_group(2022)['customer_id'].value_counts()

customer_id
C0028    6
C0267    6
C0080    6
C0129    6
C0471    5
        ..
C0032    1
C0496    1
C0365    1
C0069    1
C0363    1
Name: count, Length: 417, dtype: int64

# DF concate

In [20]:
#pd.concat
#table.merge(primary table, on = primary key name)
#

In [34]:
customer = pd.read_csv("vyrqmE.csv")

In [35]:
product = pd.read_csv("products.csv")

In [36]:
product

   product_id product_name     category   price
0        P001        Stage     Clothing  534.93
1        P002        Least  Accessories   56.56
2        P003       Number         Home  339.92
3        P004      Evening     Clothing  138.74
4        P005      Protect     Footwear   68.06
..        ...          ...          ...     ...
95       P096      Service     Footwear  872.76
96       P097         Away         Home  932.46
97       P098     Decision  Accessories  567.31
98       P099           So  Electronics  698.17
99       P100   Everything         Home  922.89

[100 rows x 4 columns]

In [40]:
complete = customer.merge(product , on = "product_id")

In [41]:
complete

,order_id,customer_id,product_id,quantity,order_date,product_name,category,price
0,O00001,C0333,P022,1,2022-01-09,Tax,Home,185.33
1,O00002,C0068,P090,1,2022-01-27,Perform,Electronics,947.55
2,O00003,C0483,P021,1,2022-01-17,Art,Electronics,938.65
3,O00004,C0214,P076,4,2022-01-07,Amount,Electronics,154.17
4,O00005,C0411,P073,4,2022-01-12,Second,Electronics,131.85
...,...,...,...,...,...,...,...,...
2579,O02580,C0237,P098,5,2024-12-22,Decision,Accessories,567.31
2580,O02581,C0236,P007,1,2024-12-05,Finish,Clothing,325.74
2581,O02582,C0029,P035,1,2024-12-12,First,Clothing,362.04
2582,O02583,C0171,P077,1,2024-12-16,Government,Clothing,233.11
2583,O02584,C0421,P038,5,2024-12-01,Black,Electronics,817.52

In [56]:
complete["Total_Price"] = (complete.quantity * complete.price)

In [57]:
complete

,order_id,customer_id,product_id,quantity,order_date,product_name,category,price,Total Price,Year,Total_Price
0,O00001,C0333,P022,1,2022-01-09,Tax,Home,185.33,185.33,2022,185.33
1,O00002,C0068,P090,1,2022-01-27,Perform,Electronics,947.55,947.55,2022,947.55
2,O00003,C0483,P021,1,2022-01-17,Art,Electronics,938.65,938.65,2022,938.65
3,O00004,C0214,P076,4,2022-01-07,Amount,Electronics,154.17,616.68,2022,616.68
4,O00005,C0411,P073,4,2022-01-12,Second,Electronics,131.85,527.40,2022,527.40
...,...,...,...,...,...,...,...,...,...,...,...
2579,O02580,C0237,P098,5,2024-12-22,Decision,Accessories,567.31,2836.55,2024,2836.55
2580,O02581,C0236,P007,1,2024-12-05,Finish,Clothing,325.74,325.74,2024,325.74
2581,O02582,C0029,P035,1,2024-12-12,First,Clothing,362.04,362.04,2024,362.04
2582,O02583,C0171,P077,1,2024-12-16,Government,Clothing,233.11,233.11,2024,233.11
2583,O02584,C0421,P038,5,2024-12-01,Black,Electronics,817.52,4087.60,2024,4087.60

In [58]:
complete['order_date'] = pd.to_datetime(complete.order_date)

In [59]:
complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2584 entries, 0 to 2583
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      2584 non-null   object
 1   customer_id   2584 non-null   object
 2   product_id    2584 non-null   object
 3   quantity      2584 non-null   int64
 4   order_date    2584 non-null   datetime64[ns]
 5   product_name  2584 non-null   object
 6   category      2584 non-null   object
 7   price         2584 non-null   float64
 8   Total Price   2584 non-null   float64
 9   Year          2584 non-null   int32
 10  Total_Price   2584 non-null   float64
dtypes: datetime64[ns](1), float64(3), int32(1), int64(1), object(5)
memory usage: 212.1+ KB

In [60]:
complete['Year'] = complete.order_date.dt.year

In [61]:
complete

,order_id,customer_id,product_id,quantity,order_date,product_name,category,price,Total Price,Year,Total_Price
0,O00001,C0333,P022,1,2022-01-09,Tax,Home,185.33,185.33,2022,185.33
1,O00002,C0068,P090,1,2022-01-27,Perform,Electronics,947.55,947.55,2022,947.55
2,O00003,C0483,P021,1,2022-01-17,Art,Electronics,938.65,938.65,2022,938.65
3,O00004,C0214,P076,4,2022-01-07,Amount,Electronics,154.17,616.68,2022,616.68
4,O00005,C0411,P073,4,2022-01-12,Second,Electronics,131.85,527.40,2022,527.40
...,...,...,...,...,...,...,...,...,...,...,...
2579,O02580,C0237,P098,5,2024-12-22,Decision,Accessories,567.31,2836.55,2024,2836.55
2580,O02581,C0236,P007,1,2024-12-05,Finish,Clothing,325.74,325.74,2024,325.74
2581,O02582,C0029,P035,1,2024-12-12,First,Clothing,362.04,362.04,2024,362.04
2582,O02583,C0171,P077,1,2024-12-16,Government,Clothing,233.11,233.11,2024,233.11
2583,O02584,C0421,P038,5,2024-12-01,Black,Electronics,817.52,4087.60,2024,4087.60

In [62]:
order_group1 = complete.groupby('Year')

In [64]:
order_group1.get_group(2022).Total_Price.sum()

np.float64(1357500.38)

In [65]:
order_group.get_group(2023).Total_Price.sum()

np.float64(1489071.01)

In [70]:
order_group.get_group(2024).Total_Price.sum()

np.float64(1287689.2000000002)

In [71]:
complete.to_csv("Complete_order.csv")